<!DOCTYPE html>
{% load static %}

<html lang="en">


<head>
    <title>Ecom</title>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    {% comment %}this link is not working. stupid people in bootsrap put this link here. i had to use prevoius links from stack overflo
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous"> {% endcomment %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">


    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1 ">
</head>

<body>
     
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark", id="some-id">
        <a class="navbar-brand" href="{% url 'store' %}">Ecom</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'store' %}">Store<span class="sr-only">(current)</span></a>
                </li>
                
            </ul>

            <div class="form-inline my-2 my-lg-0">
                <a href="#"class="btn btn-warning">Login</a>
                <a href="{% url 'cart' %}">
                    <img  id="cart-icon" src="{% static 'images/cart.png' %}">
                </a>
                <p id="cart-total">0</p>
        </div>
    </nav>


    <div class="container"> 
        
        {% block content %}
            
        {% endblock content %}
            
    </div>



    <!-- Latest compiled and minified CSS -->

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>


</body>


</html> 